player-connection-mode=Listen
player-connection-guid=1012743966
player-connection-debug=0
player-connection-project-name=MLProject
player-connection-ip=192.168.1.5
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5786bfd21dd544ed81f553d97b2a6dae
